.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.col{
    -ms-flex: 0 0 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0 15px 0 15px;
}
.col-6{
    -ms-flex: 0 0 50%;
    flex: 50%;
    max-width: 50%;
}

.col-4{
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 0 0 33.33%;
}
.col-3{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 0 0 25%;
}